<h1>Result</h1>
<p><%= @letters %></p>
<p><%= params[:input] %></p>
<p><%= @result %></p>
<p>Score: <%= params[:input].length * 10 %>
<p><%= link_to "Go back", new_path %></p>
<p><%= params[:letters].upcase %></p>


<%# raise=>"params" in terminal %>
